:root {
    /* colors */
    --c-blue: #A3C3CE;
    --c-yellow: #D5A654;
    --c-beige: #FBF3E8;
    --c-black: #474542;

    /* fonts */
    /* Step -2: 11.11px → 7.11px */
    --step--2: clamp(0.4444rem, 0.7725rem + -0.3472vw, 0.6944rem);
    /* Step -1: 13.33px → 10.67px */
    --step--1: clamp(0.6669rem, 0.8851rem + -0.2309vw, 0.8331rem);
    /* Step 0: 16.00px → 16.00px */
    --step-0: 1rem;
    /* Step 1: 19.20px → 24.00px */
    --step-1: clamp(1.2rem, 1.1063rem + 0.4167vw, 1.5rem);
    /* Step 2: 23.04px → 36.00px */
    --step-2: clamp(1.44rem, 1.1869rem + 1.125vw, 2.25rem);
    /* Step 3: 27.65px → 54.00px */
    --step-3: clamp(1.7281rem, 1.2135rem + 2.2873vw, 3.375rem);
    /* Step 4: 33.18px → 81.00px */
    --step-4: clamp(2.0738rem, 1.1398rem + 4.151vw, 5.0625rem);
    /* Step 5: 39.81px → 121.50px */
    --step-5: clamp(2.4881rem, 0.8926rem + 7.0911vw, 7.5938rem);

    /* spaces */
    /* Space 3xs: 6px → 10px */
    --space-3xs: clamp(0.375rem, 0.2969rem + 0.3472vw, 0.625rem);
    /* Space 2xs: 12px → 20px */
    --space-2xs: clamp(0.75rem, 0.5938rem + 0.6944vw, 1.25rem);
    /* Space xs: 18px → 30px */
    --space-xs: clamp(1.125rem, 0.8906rem + 1.0417vw, 1.875rem);
    /* Space s: 24px → 40px */
    --space-s: clamp(1.5rem, 1.1875rem + 1.3889vw, 2.5rem);
    /* Space m: 36px → 60px */
    --space-m: clamp(2.25rem, 1.7813rem + 2.0833vw, 3.75rem);
    /* Space l: 48px → 80px */
    --space-l: clamp(3rem, 2.375rem + 2.7778vw, 5rem);
    /* Space xl: 72px → 120px */
    --space-xl: clamp(4.5rem, 3.5625rem + 4.1667vw, 7.5rem);
    /* Space 2xl: 96px → 160px */
    --space-2xl: clamp(6rem, 4.75rem + 5.5556vw, 10rem);
    /* Space 3xl: 144px → 240px */
    --space-3xl: clamp(9rem, 7.125rem + 8.3333vw, 15rem);

    /* Space 3xs-2xs: 6px → 20px */
    --space-3xs-2xs: clamp(0.375rem, 0.1016rem + 1.2153vw, 1.25rem);
    /* Space 2xs-xs: 12px → 30px */
    --space-2xs-xs: clamp(0.75rem, 0.3984rem + 1.5625vw, 1.875rem);
    /* Space xs-s: 18px → 40px */
    --space-xs-s: clamp(1.125rem, 0.6953rem + 1.9097vw, 2.5rem);
    /* Space s-m: 24px → 60px */
    --space-s-m: clamp(1.5rem, 0.7969rem + 3.125vw, 3.75rem);
    /* Space m-l: 36px → 80px */
    --space-m-l: clamp(2.25rem, 1.3906rem + 3.8194vw, 5rem);
    /* Space l-xl: 48px → 120px */
    --space-l-xl: clamp(3rem, 1.5938rem + 6.25vw, 7.5rem);
    /* Space xl-2xl: 72px → 160px */
    --space-xl-2xl: clamp(4.5rem, 2.7813rem + 7.6389vw, 10rem);
    /* Space 2xl-3xl: 96px → 240px */
    --space-2xl-3xl: clamp(6rem, 3.1875rem + 12.5vw, 15rem);

    /* Space s-xl: 24px → 120px */
    --space-s-xl: clamp(1.5rem, -0.375rem + 8.3333vw, 7.5rem);
    /* Space xs-2xs: 18px → 20px */
    --space-xs-2xs: clamp(1.125rem, 1.0859rem + 0.1736vw, 1.25rem);
}

html {
    box-sizing: border-box;
    font-family: "komet", sans-serif;
    color: var(--c-black);
    background-color: var(--c-beige);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

img {
    /* max-inline-size: 100%; */
    block-size: auto;
}

header {
    block-size: 100svh;
}

h1,
h2,
h3,
.chapter__day,
.quote,
.chapter__subtitle {
    font-family: "century-old-style-std", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
    max-inline-size: unset;
}

h1 {
    font-size: var(--step-4);
}

h2 {
    font-size: var(--step-3);
    padding-block-end: var(--space-xs);
}

h3,
.chapter__day,
.chapter__subtitle {
    font-size: var(--step-1);
}

.big {
    font-size: var(--step-3);
    text-align: center;
    max-inline-size: max-content;
}

.quote,
.gold {
    font-size: var(--step-2);
    text-align: center;
    inline-size: fit-content;
}

.chapter__subtitle {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    gap: var(--space-3xs);
}

.chapter__subtitle .small {
    inline-size: fit-content;
    display: flex;
    flex-direction: row;
    gap: var(--space-2xs);
    place-items: center;
}

.gold {
    color: var(--c-yellow);
}

p {
    line-height: 1.4;
    max-inline-size: 50ch;
}

strong {
    font-weight: 600;
}

section {
    padding: var(--space-s-xl);
    overflow-x: hidden;
}

.cta {
    color: var(--c-yellow);
    padding: var(--space-3xs) var(--space-2xs);
    align-items: center;
    position: relative;
    border-block-end: var(--c-yellow) 1px solid;
}

.cta::before,
.cta::after {
    position: absolute;
    block-size: 13px;
    aspect-ratio: 19/13;
    background-position: top right;
    background-image: url(../assets/img/cta-ornament.svg);
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    content: "";
    bottom: 0;
}

.cta::before {
    left: 0;
    transform: translate(-18px, 7px);
}

.cta::after {
    right: 0;
    transform: translate(-18px, -7px);
    rotate: 180deg;
}

/* --- tip --- */

.tip,
.journal {
    inline-size: 5rem;
}

.tip__wrapper {
    position: relative;
    inline-size: min-content;
    block-size: min-content;
    place-self: center;
}

.tip__wrapper:hover .tip__popup {
    display: block;
}

.tip__popup {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 20;
}

dialog {
    background-color: unset;
    border: unset;
    outline: unset;
    padding: unset;
}

.tip__popup--wrapper {
    inline-size: calc(100vw - 2*var(--space-s-xl));
    max-inline-size: 286px;
    background-color: var(--c-yellow);
    border: var(--c-yellow) 1px solid;
    color: var(--c-beige);
    padding: var(--step-0);
    display: grid;
    align-self: center;
    place-self: center;
}

.tip__frame {
    position: absolute;
    z-index: -10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.tip__frame {
    top: -7px;
    left: -7px;
    inline-size: calc(100% + 14px);
    block-size: calc(100% + 14px);
}

.tip__frame div {
    background-image: url(../assets/img/tip-frame.svg);
}

.city__frame div {
    background-image: url(../assets/img/city-frame.svg);
}

.tip__frame div:nth-child(2),
.city__frame div:nth-child(2) {
    background-position: top right;
}

.tip__frame div:nth-child(3),
.city__frame div:nth-child(3) {
    background-position: bottom left;
}

.tip__frame div:nth-child(4),
.city__frame div:nth-child(4) {
    background-position: bottom right;
}

/* --- journal --- */


/* --- frame --- */

.frame {
    inline-size: 100vw;
    block-size: 100svh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr auto 1fr 3fr 1fr;
    margin: calc(0rem - var(--space-s-xl)) calc(0rem - var(--space-s-xl)) 0;
    place-items: center;
    padding: var(--space-s-xl);
    z-index: -10;
}

.frame__img {
    inline-size: 100%;
    block-size: 100%;
    background-image: url(../assets/img/line-frame.svg);
    background-size: 25px;
    background-repeat: no-repeat;
}

.frame__img:nth-child(1),
.frame__img:nth-child(6) {
    background-position: top center;
}

.frame__img:nth-child(2),
.frame__img:nth-child(7) {
    background-position: center center;
}

.frame__img:nth-child(3),
.frame__img:nth-child(8) {
    background-position: bottom center;
}

.frame__img:nth-child(4),
.frame__img:nth-child(9) {
    display: none;
}

.chapter {
    display: grid;
    grid-template-columns: 100%;
    gap: var(--space-m);
}

.chapter__info {
    grid-column: 1;
    grid-row: 4;
    padding-block: var(--space-m);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    place-items: center;
    gap: var(--space-xs);
    text-align: center;
}

.chapter__title {
    padding: unset;
}

.chapter__day {
    grid-row: 1;
}

.subtitle__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--space-s);
}

/* --- header --- */

header {
    position: relative;
}

header .frame {
    position: absolute;
    top: 0;
    left: 0;
    inline-size: 100vw;
    block-size: 100vh;
    margin: unset;
}

header .frame {
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: repeat(2, 1fr);
}

header .frame__img {
    background-image: url(../assets/img/line-frame-rotated.svg);
    background-size: 400px;
}

header .frame__img:nth-child(1) {
    background-position: top left;
}

header .frame__img:nth-child(2) {
    background-position: top center;
}

header .frame__img:nth-child(3) {
    background-position: top right;
}

header .frame__img:nth-child(4) {
    display: none;
}

header .frame__img:nth-child(5) {
    background-position: bottom left;
}

header .frame__img:nth-child(6) {
    background-position: bottom center;
}

header .frame__img:nth-child(7) {
    background-position: bottom right;
}

/* --- intro --- */

.intro {
    display: grid;
    grid-template-rows: repeat(3, max-content);
    gap: var(--space-s);
    justify-items: center;
}

.intro__id,
.intro__crowd {
    display: grid;
    grid-template-columns: calc(100vw - 2 * var(--space-s-xl));
}

.id__card {
    rotate: 15deg;
    display: inline-block;
    inline-size: 135vw;
    max-inline-size: 550px;
    place-self: center;
    margin-block: var(--space-xl) var(--space-l);
    margin-inline-end: calc(0rem - var(--space-m));
    transition: rotation 0.5s ease-out, position 0.5s ease-out, inline-size 0.5s ease-out;
}

.intro__crowd {
    gap: var(--space-s);
}

.crowd__container {
    inline-size: 100vw;
    margin-inline: calc(0rem - var(--space-s-xl));
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: flex-end;
    position: relative;
}

.crowd__louise {
    grid-column: 1;
    place-self: flex-end;
    z-index: 10;
}

.crowd__men {
    grid-column: 2;
    z-index: 5;
    margin-inline-start: calc(0rem - var(--space-l));
}

.crowd__crowd {
    inline-size: 800px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.intro__convo {
    max-block-size: 100vh;
    overflow-y: hidden;
    inline-size: 100%;
    max-inline-size: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-content);
    gap: var(--space-s);
}

.convo__container {
    grid-column: 1/-1;
    display: grid;
    gap: var(--space-2xs);
    inline-size: 100%;
}

.convo__text {
    padding: var(--space-s);
    inline-size: fit-content;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.convo__text--left {
    border-radius: 40px 40px 40px 0;
    border: solid 2px var(--c-yellow);
}

.convo__text--right {
    border-radius: 40px 40px 0 40px;
    border: solid 2px var(--c-blue);
    text-align: end;
    justify-self: flex-end;
}

.convo__text:nth-child(1),
.convo__text:nth-child(2) {
    max-inline-size: calc(225px + 2 * var(--space-s));
}

.convo__text:nth-child(3) {
    max-inline-size: calc(320px + 2 * var(--space-s));
}

.convo__man {
    filter: grayscale();
    transform: scale(0.8);
    transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.convo__text {
    animation: convoText 1s forwards;
}

.convo__text--left:nth-child(1) {
    animation-delay: 1s;
}

.convo__text--left:nth-child(3) {
    animation-delay: 3s;
}

.convo__text--right:nth-child(2) {
    animation-delay: 2s;
}

.convo__text--right:nth-child(4) {
    animation-delay: 4s;
}

.convo__man--left {
    animation: convoManLeft 4s forwards;
    animation-delay: 1s;
}

.convo__man--right {
    animation: convoManRight 4s forwards;
    animation-delay: 2s;
    justify-self: flex-end;
}

/* --- passengers --- */

.passengers__container {
    display: grid;
    grid-template-columns: 100%;
    gap: var(--space-xs-2xs);
    justify-items: center;
}

.passengers__container p {
    text-align: center;
}

.passengers__img {
    justify-self: flex-start;
    margin-inline: calc(0rem - var(--space-s-xl));
    display: grid;
    grid-template-columns: 1512px;
    grid-template-rows: 539px;
}

.passengers__img img {
    grid-column: 1;
    grid-row: 1;
    transform-origin: top left;
}

.passengers__passenger1 {
    z-index: 10;
    transform: translateY(336px);
}

.passengers__passenger2 {
    z-index: 8;
    transform: translateY(216px);
}

.passengers__passenger3 {
    z-index: 6;
    transform: translateY(3px);
}

.passengers__passenger4 {
    z-index: 5;
}

.passengers__diplomat {
    transform: translate(61px, 229px);
    z-index: 7;
}

.passengers__star {
    transform: translate(449px, 169px);
    z-index: 7;
}

.passengers__writer {
    transform: translate(696px, 245px);
    z-index: 9;
}

.passengers__trader {
    transform: translate(982px, 160px);
    z-index: 7;
}

.passengers__indian {
    transform: translate(1198px, 247px);
    z-index: 9;
}

.passengers__diplomat:hover,
.passengers__star:hover,
.passengers__writer:hover,
.passengers__trader:hover,
.passengers__indian:hover {
    margin-block-start: -40px;
}

/* --- train --- */

.train__container {
    display: grid;
    grid-template-columns: 100%;
}

.train__container * {
    grid-column: 1;
    grid-row: 1;
    inline-size: 200vw;
}

.train__train {
    z-index: 20;
    justify-self: flex-end;
    margin-inline-end: calc(0rem - var(--space-s-m));
    transform: translateY(-75%);
    max-inline-size: 1600px;
}

.train__track {
    z-index: -10;
    max-inline-size: 1600px;
    transform: translateY(17%);
    margin-inline-start: calc(0rem - var(--space-s-xl));
}

/* --- room --- */

.room__container {
    display: grid;
    grid-template-columns: 100%;
    margin-block-start: calc(0rem - var(--space-2xl) - var(--space-xl));
    gap: var(--space-l);
    justify-items: center;
}

.room__info {
    display: grid;
    grid-template-columns: 100%;
    gap: var(--space-m);
    justify-items: center;
    block-size: min-content;
}

.room__img {
    display: grid;
    place-self: center;
    max-inline-size: 700px;
}

.room__img * {
    grid-column: 1;
    grid-row: 1;
    inline-size: 100%;
}

.room__frame {
    inline-size: 104%;
    transform: translate(-2%, -2%);
}

.room__img::after {
    content: "woolen blackets";
    inline-size: max-content;
    block-size: max-content;
    background-color: var(--c-yellow);
    color: var(--c-beige);
    padding: 10px;
    justify-self: center;
    margin-block-start: calc(0rem - var(--space-s));
    z-index: 10;
    animation: roomLabel 9s steps(1) infinite;
}

/* --- food --- */

.food__container {
    display: flex;
    flex-direction: column;
    gap: var(--space-s);
    inline-size: fit-content;
    place-self: center;
}

.food__cta {
    display: grid;
    place-items: center;
}

/* --- table --- */

.table__container {
    background-image: url(../assets/img/pattern.svg);
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content max-content;
    margin-inline: calc(0rem - var(--space-s-xl));
    place-items: center;
}

.table__wrapper {
    display: grid;
    inline-size: 360px;
    aspect-ratio: 18/47;
}

.table__wrapper>* {
    grid-column: 1;
    grid-row: 1;
}

.table__wrapper div img {
    filter: grayscale();
    inline-size: inherit;
}

.table__wrapper div {
    position: relative;
    block-size: max-content;
}

.table__wrapper div::after,
.table__wrapper div::before {
    content: "";
    display: inline-block;
    border-radius: 100%;
    z-index: 10;
    position: absolute;
    aspect-ratio: 1;
}

.soup__wrapper {
    inline-size: 130px;
    transform: translate(210px, 610px);
}

.soup__wrapper::after {
    inline-size: 15%;
    border: var(--c-yellow) 3px solid;
    left: 30%;
    top: 90%;
}

.soup__wrapper::before {
    inline-size: 25%;
    background-color: var(--c-yellow);
    left: 85%;
    top: 20%;
}

.asperges__wrapper {
    inline-size: 155px;
    transform: translate(40px, 245px) rotate(-170deg);
}

.asperges__wrapper::after {
    inline-size: 15%;
    border: var(--c-yellow) 3px solid;
    left: -5%;
    top: 55%;
}

.asperges__wrapper::before {
    inline-size: 20%;
    background-color: var(--c-yellow);
    left: 85%;
    top: 65%;
}

.fruit__wrapper {
    inline-size: 120px;
    transform: translate(35px, 540px) rotate(30deg);
}

.fruit__wrapper::after {
    inline-size: 15%;
    border: var(--c-yellow) 3px solid;
    left: 55%;
    top: 85%;
}

.fruit__wrapper::before {
    inline-size: 25%;
    background-color: var(--c-yellow);
    left: -10%;
    top: 35%;
}

.icecake__wrapper {
    inline-size: 220px;
    transform: translate(100px, 35px) rotate(10deg);
}

.icecake__wrapper::after {
    inline-size: 10%;
    border: var(--c-blue) 3px solid;
    left: 90%;
    top: 30%;
}

.icecake__wrapper::before {
    inline-size: 20%;
    background-color: var(--c-blue);
    left: 30%;
    top: 90%;
}

.salmon__wrapper {
    inline-size: 255px;
    transform: translate(25px, 760px) rotate(25deg);
}

.salmon__wrapper::after {
    inline-size: 10%;
    border: var(--c-blue) 3px solid;
    left: 30%;
    top: -10%;
}

.salmon__wrapper::before {
    inline-size: 15%;
    background-color: var(--c-blue);
    left: 60%;
    top: 85%;
}

.meat__wrapper {
    inline-size: 185px;
    transform: translate(165px, 400px) rotate(-10deg);
}

.meat__wrapper::after {
    inline-size: 10%;
    border: var(--c-blue) 3px solid;
    left: 10%;
    top: 80%;
}

.meat__wrapper::before {
    inline-size: 20%;
    background-color: var(--c-blue);
    left: 85%;
    top: 15%;
}

.lemon {
    /* inline-size: 70px; */
    transform: translate(50px, 440px) rotate(-45deg);
}

.rasberry {
    inline-size: 65px;
    transform: translate(265px, 255px);
}

.fork {
    inline-size: 20px;
    transform: translate(25px, 320px) rotate(-20deg);
}

.small__fork {
    inline-size: 15px;
    transform: translate(160px, 580px) rotate(15deg);
}

.knife {
    inline-size: 10px;
    transform: translate(195px, 235px) rotate(-30deg);
}

.spoon {
    inline-size: 70px;
    transform: translate(195px, 730px) rotate(50deg);
}

/* --- cities --- */

.map__wrapper {
    display: flex;
    flex-direction: column;
}

.cities__wrapper {
    display: grid;
    grid-template-columns: repeat(10, calc(100vw - 2*var(--space-s)));
    grid-template-rows: 1fr;
    gap: var(--space-2xs);
    scroll-snap-type: x mandatory;
    overflow-x: auto;
    margin-inline: calc(0rem - var(--space-s-xl));
    padding-inline: var(--space-s-xl);
    place-items: center;
}

.city__wrapper {
    scroll-snap-align: center;
}

.city__wrapper>* {
    grid-column: 1;
}

.city__popup {
    position: relative;
    margin: var(--space-s);
    background-color: var(--c-beige);
}

.city__info {
    display: grid;
    grid-template-columns: 100%;
    gap: var(--space-xs);
    place-items: center;
}

.city__button,
.popup__close,
.city__nav {
    display: none;
}

.city__img {
    grid-row: 1;
    inline-size: 100%;
    aspect-ratio: 1;
}

.city__frame {
    position: absolute;
    top: calc(0rem - var(--space-s));
    left: calc(0rem - var(--space-s));
    z-index: -10;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    inline-size: calc(100% + 2*var(--space-s));
    block-size: calc(100% + 2*var(--space-s));
}

.tip__wrapper--cities {
    padding-block: var(--space-m);
}

/* --- animation --- */

@keyframes convoText {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes convoManLeft {
    0% {
        filter: grayscale();
        transform: scale(0.8);
    }

    25% {
        filter: grayscale(0%);
        transform: scale(1);
    }

    50% {
        filter: grayscale();
        transform: scale(0.8);

    }

    75% {
        filter: grayscale(0%);
        transform: scale(1);
    }


    100% {
        filter: grayscale();
        transform: scale(0.8);
    }
}

@keyframes convoManRight {
    0% {
        filter: grayscale();
        transform: scale(0.8);
    }

    25% {
        filter: grayscale(0%);
        transform: scale(1);
    }

    50% {
        filter: grayscale();
        transform: scale(0.8);

    }

    75% {
        filter: grayscale(0%);
        transform: scale(1);
    }

    100% {
        filter: grayscale(0%);
        transform: scale(1);
    }
}

@keyframes roomLabel {
    0% {
        content: "woolen blankets";
        background-color: var(--c-yellow);
    }

    16.5% {
        content: "two beds or one sofa";
        background-color: var(--c-blue);
    }

    33.5% {
        content: "a small table";
        background-color: var(--c-yellow);
    }

    50% {
        content: "a wasbasin";
        background-color: var(--c-blue);
    }

    66.5% {
        content: "a butler button";
        background-color: var(--c-yellow);
    }

    83.5% {
        content: "marquetry walls";
        background-color: var(--c-blue);
    }
}

/* --- media queries --- */

@media (min-width: 500px) {
    .frame {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        padding: var(--space-xs);
    }

    .frame__img,
    header .frame__img {
        background-image: url(../assets/img/rect-frame.svg);
        background-size: 1000px;
    }

    .frame__img:nth-child(1) {
        background-position: top left;
    }

    .frame__img:nth-child(2) {
        background-position: top center;
    }

    .frame__img:nth-child(3) {
        background-position: top right;
    }

    .frame__img:nth-child(4) {
        background-position: center left;
    }

    .frame__img:nth-child(6) {
        background-position: center right;
    }

    .frame__img:nth-child(7) {
        background-position: bottom left;
    }

    .frame__img:nth-child(8) {
        background-position: bottom center;
    }

    .frame__img:nth-child(9) {
        background-position: bottom right;
    }

    .frame__img:nth-child(4),
    .frame__img:nth-child(9) {
        display: block;
    }

    .chapter__info {
        grid-column: 2;
        grid-row: 2;
    }

    /* --- header --- */

    header .frame__img:nth-child(5) {
        display: unset;
        background-position: bottom left;
    }

    /* ---intro --- */

    .intro__id {
        grid-template-columns: 4fr 3fr;
        grid-template-rows: min-content max-content;
        row-gap: 0;
        column-gap: var(--space-2xl);
        place-self: flex-start;
        position: relative;
        justify-self: center;
    }

    .intro__id h2 {
        grid-column: 1/-1;
        grid-row: 1;
    }

    .intro__id p {
        grid-column: 1;
        grid-row: 2;
    }

    .id__card {
        inline-size: 45vw;
        margin: unset;
        transform: translate(70%, -40%);
        margin-bottom: calc(0rem - var(--space-2xl));
        grid-column: 1/-1;
        grid-row: 1/-1;
    }

    /* --- train --- */

    .train__container * {
        inline-size: 125vw;
    }

    .train__train {
        transform: translateY(-85%);
    }

    .train__track {
        transform: translateY(7%);
    }
}

@media (min-width: 550px) {

    /* --- intro --- */

    .intro {
        gap: var(--space-xl);
    }

    .intro__crowd {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .intro__crowd>* {
        grid-column: 1;
        grid-row: 1;
    }

    .intro__crowd p {
        width: 280px;
        text-align: end;
        height: fit-content;
        margin-inline: var(--space-s);
        justify-self: flex-end;
    }

    .crowd__container {
        z-index: -10;
        background-size: 110%;
    }

    .crowd__louise {
        inline-size: 250px;
    }

    .crowd__men {
        inline-size: 270px;
    }

    .crowd__crowd {
        inline-size: 1300px;
    }

    /* --- cities --- */

    .cities__wrapper {
        background-image: url(../assets/img/route-tablet.svg);
        background-size: 95%;
        background-position: 60% 20%;
        background-repeat: no-repeat;
        scroll-snap-type: unset;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
        overflow-x: unset;
        margin: unset;
        padding: unset;
        gap: unset;
        place-items: center;
    }

    .city__wrapper {
        margin: unset;
        inline-size: min-content;
    }

    .city__wrapper:nth-of-type(1) {
        grid-column: 1;
        grid-row: 1;
        justify-self: flex-start;
    }

    .city__wrapper:nth-of-type(2) {
        grid-column: 2;
        grid-row: 2;
    }

    .city__wrapper:nth-of-type(3) {
        grid-column: 3;
        grid-row: 1/3;
    }

    .city__wrapper:nth-of-type(4) {
        grid-column: 4;
        grid-row: 3;
        place-self: center flex-end;
    }

    .city__wrapper:nth-of-type(5) {
        grid-column: 3;
        grid-row: 4;
    }

    .city__wrapper:nth-of-type(6) {
        grid-column: 2;
        grid-row: 3/5;
    }

    .city__wrapper:nth-of-type(7) {
        grid-column: 1;
        grid-row: 4/6;
        justify-self: flex-start;
    }

    .city__wrapper:nth-of-type(8) {
        grid-column: 2;
        grid-row: 5/7;
    }

    .city__wrapper:nth-of-type(9) {
        grid-column: 3;
        grid-row: 6;
    }

    .city__wrapper:nth-of-type(10) {
        grid-column: 4;
        grid-row: 6/8;
        place-self: center flex-end;
    }

    .city__button {
        display: unset;
        inline-size: 15vw;
    }

    .city__popup {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        overflow: visible;
        inline-size: 80vw;
        max-inline-size: 600px;
        margin: unset;
        padding: var(--space-s);
    }

    .city__popup--wrapper {
        display: grid;
        grid-template-columns: minmax(100%, max-content);
        gap: var(--space-s);
    }

    .city__popup::backdrop {
        background: #D5A654;
        opacity: 15%;
    }

    .city__frame {
        top: calc(0rem - var(--space-s));
        left: calc(0rem - var(--space-s));
        inline-size: calc(100% + 2* var(--space-s));
        block-size: calc(100% + 2* var(--space-s));
    }

    .city__frame div {
        background-size: 200%;
    }

    .popup__close {
        display: unset;
        position: absolute;
        top: 0;
        right: 0;
        background-color: unset;
        border: unset;
    }

    .popup__close::after {
        content: url(../assets/img/close-popup.svg);
    }

    .city__nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .city__next {
        grid-column: 2;
        justify-self: flex-end;
    }
}

@media(min-width: 700px) {

    /* --- cities --- */

    .city__popup {
        max-inline-size: 750px;
    }

    .city__info {
        display: grid;
        grid-template-columns: 3fr 4fr;
        gap: var(--space-2xs);
    }

    .city__name {
        place-self: flex-end flex-start;
    }

    .city__desc {
        align-self: flex-start;
    }

    .city__img {
        grid-column: 1;
        grid-row: 1/3;
    }
}

@media (min-width: 750px) {

    /* --- passengers --- */

    .passengers__container {
        grid-template-columns: 500px 1fr;
    }

    .passengers__container p {
        max-inline-size: 370px;
    }

    .passengers__cta {
        grid-column: 1;
    }

    .passengers__img {
        grid-row: 3;
        grid-column: 1/-1;
        margin-block-start: calc(0rem - var(--space-xl));
    }

    .passengers__passenger4 {
        display: none;
    }

    /* --- train --- */

    .train__container * {
        inline-size: 100vw;
    }

    .train__train {
        margin-inline-end: var(--space-xl);
        transform: translateY(-85%);
    }

    /* --- room --- */
    .room__info {
        justify-self: flex-start;
        grid-template-columns: 2fr 1fr;
        gap: var(--space-s);
        padding-inline-end: var(--space-m);
    }

    .room__info p {
        grid-column: 1;
    }

    .tip__wrapper--room {
        grid-column: 2;
        grid-row: 1/4;
        place-self: center;
    }

    /* --- table --- */

    .table__wrapper {
        inline-size: 834px;
        aspect-ratio: 417/370;
    }

    .asperges__wrapper {
        inline-size: 200px;
        transform: translate(120px, 60px) rotate(0deg);
    }

    .icecake__wrapper {
        inline-size: 320px;
        transform: translate(380px, 80px) rotate(-10deg);
    }

    .salmon__wrapper {
        inline-size: 325px;
        transform: translate(50px, 330px) rotate(-25deg);
    }

    .soup__wrapper {
        inline-size: 165px;
        transform: translate(620px, 365px);
    }

    .meat__wrapper {
        inline-size: 235px;
        transform: translate(370px, 435px) rotate(50deg);
    }

    .fruit__wrapper {
        inline-size: 155px;
        transform: translate(190px, 545px) rotate(0deg);
    }

    .fruit__wrapper {
        inline-size: 155px;
        transform: translate(190px, 545px) rotate(0deg);
    }

    .lemon {
        /* inline-size: 90px; */
        transform: translate(55px, 540px) rotate(-45deg);
    }

    .rasberry {
        inline-size: 85px;
        transform: translate(720px, 260px) rotate(0deg);
    }

    .fork {
        inline-size: 25px;
        transform: translate(300px, 30px) rotate(145deg);
    }

    .small__fork {
        inline-size: 20px;
        transform: translate(350px, 550px) rotate(-15deg);
    }

    .knife {
        inline-size: 15px;
        transform: translate(115px, 160px) rotate(135deg);
    }

    .spoon {
        inline-size: 90px;
        transform: translate(600px, 520px) rotate(50deg);
    }
}

@media (min-width: 900px) {

    /* --- intro --- */

    .intro__crowd {
        grid-template-columns: repeat(2, 1fr);
    }

    .intro__crowd p {
        grid-column: 2;
        justify-self: flex-start;
        text-align: unset;
        margin: unset;
        margin-block: var(--space-m);
        inline-size: 300px;
    }

    .crowd__container {
        grid-column: 1/-1;
    }


    /* --- cities --- */

    .chapter--3 {
        overflow: hidden visible;
        padding-block-end: var(--space-2xl);
    }

    .map__wrapper {
        display: grid;
        grid-template-columns: var(--space-m) 1fr 1fr var(--space-m);
        gap: var(--space-s);
        margin-inline: calc(0rem - var(--space-m));
    }

    .tip__wrapper--cities {
        grid-column: 2;
        grid-row: 1;
    }

    .subtitle__container--cities {
        grid-column: 3;
        grid-row: 1;
    }

    .journal__wrapper--cities {
        grid-column: 3;
        grid-row: 2;
    }

    .map__quote {
        grid-column: 2/-1;
        grid-row: 3;
    }

    .map__wrapper::before {
        grid-column: 2;
        grid-row: 2;
        align-self: flex-end;
        content: "";
        background-image: url(../assets/img/compass.svg);
        background-size: 100%;
        inline-size: 12vw;
        max-inline-size: 11.5rem;
        aspect-ratio: 1/1;
        z-index: -5;
    }

    .cities__wrapper {
        grid-column: 1/-1;
        grid-row: 2;
        inline-size: 100%;
        max-inline-size: 95rem;
        aspect-ratio: 7/3;
        background-image: url(../assets/img/route-desktop.svg);
        background-size: 85%;
        background-position: 20% 10%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        place-items: flex-start;
        margin-inline: calc(0rem - var(--space-s-xl));
        place-self: center;
        position: relative;
    }

    .cities__wrapper::after {
        content: "";
        background-image: url(../assets/img/map.svg);
        background-size: 100%;
        position: absolute;
        background-repeat: no-repeat;
        inline-size: 150vw;
        max-inline-size: 150rem;
        aspect-ratio: 7/3;
        top: -27.5%;
        left: -22.5%;
        z-index: -10;
    }

    .city__wrapper:nth-of-type(2) {
        grid-column: 1;
        grid-row: 1;
        transform: translate(160%, 125%);
    }

    .city__wrapper:nth-of-type(3) {
        grid-column: 1;
        grid-row: 1;
        transform: translate(260%, 190%);
    }

    .city__wrapper:nth-of-type(4) {
        grid-column: 1;
        grid-row: 1;
        place-self: flex-start;
        transform: translate(390%, 250%);
    }

    .city__wrapper:nth-of-type(5) {
        grid-column: 1;
        grid-row: 1;
        transform: translate(590%, 260%);
    }

    .city__wrapper:nth-of-type(6) {
        grid-column: 1;
        grid-row: 1;
        transform: translate(700%, 220%);
    }

    .city__wrapper:nth-of-type(7) {
        grid-column: 1;
        grid-row: 1;
        transform: translate(830%, 260%);
    }

    .city__wrapper:nth-of-type(8) {
        grid-column: 1;
        grid-row: 1;
        transform: translate(1000%, 300%);
    }

    .city__wrapper:nth-of-type(9) {
        grid-column: 1;
        grid-row: 1;
        transform: translate(1260%, 500%);
    }

    .city__wrapper:nth-of-type(10) {
        grid-column: 1;
        grid-row: 1;
        place-self: flex-start;
        transform: translate(1580%, 620%);
    }

    .city__button {
        inline-size: 5vw;
        max-inline-size: 5rem;
    }
}

@media (min-width: 1000px) {

    /* --- intro --- */

    .crowd__louise {
        inline-size: 350px;
    }

    .crowd__men {
        inline-size: 380px;
    }

    .crowd__crowd {
        inline-size: 1800px;
    }

    .intro__convo {
        max-inline-size: unset;
        padding: unset;
        grid-template-columns: 1fr 3fr 1fr;
        grid-row: 1fr;
        place-items: center;
    }

    .intro__convo>* {
        grid-row: 1;
    }

    .convo__container {
        grid-column: 2;
    }

    .convo__text {
        padding: var(--space-xs);
    }

    .convo__man--left {
        inline-size: 140px;
    }

    .convo__man--right {
        inline-size: 200px;
    }

    /* --- room --- */

    .room__container {
        grid-template-columns: 3fr 4fr;
        margin-block-start: calc(0rem - var(--space-2xl) - var(--space-2xl));
        gap: var(--space-xl);
        align-items: center;
    }

    .room__img {
        grid-column: 1;
        grid-row: 1;
        margin: calc(0rem - var(--space-s-xl) + var(--space-m));
    }

    .room__info {
        grid-template-columns: 1fr;
    }

    .tip__wrapper--room {
        grid-column: 1;
        grid-row: 4;
    }

    /* --- food --- */

    .food__container {
        display: grid;
        grid-template-columns: fit-content auto;
        grid-template-rows: auto min-content;
        column-gap: var(--space-l-xl);
        row-gap: unset;
    }

    .big {
        inline-size: max-content;
    }

    .subtitle__container {
        inline-size: min-content;
        padding: var(--space-s);
        position: relative;
    }

    .chapter__subtitle {
        inline-size: min-content;
    }

    .subtitle__container p {
        inline-size: 100%;
    }

    .food__container .subtitle__container {
        grid-column: 1;
        grid-row: 1/3;
    }

    .subtitle__frame {
        position: absolute;
        inline-size: 100%;
        block-size: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        inline-size: calc(100% + 40px);
        block-size: calc(100% + 40px);
        top: -20px;
        left: -20px;
        z-index: -10;
    }

    .subtitle__frame div {
        inline-size: 100%;
        block-size: 100%;
        background-image: url(../assets/img/subtitle-frame.svg);
    }

    .subtitle__frame div:nth-child(2) {
        background-position: top right;
    }

    .subtitle__frame div:nth-child(3) {
        background-position: bottom left;
    }

    .subtitle__frame div:nth-child(4) {
        background-position: bottom right;
    }

    .food__container>p:nth-of-type(1) {
        grid-column: 2;
        align-self: flex-end;
    }
}

@media (min-width:1300px) {

    /* --- table --- */

    .table__wrapper {
        inline-size: 1512px;
        aspect-ratio: 5/3;
    }

    .table__wrapper div::after {
        border-width: 4px;
    }

    .asperges__wrapper {
        inline-size: 275px;
        transform: translate(190px, 150px);
    }

    .icecake__wrapper {
        inline-size: 410px;
        transform: translate(560px, 160px) rotate(-15deg);
    }

    .salmon__wrapper {
        inline-size: 425px;
        transform: translate(270px, 525px) rotate(30deg);
    }

    .soup__wrapper {
        inline-size: 225px;
        transform: translate(1030px, 110px);
    }

    .meat__wrapper {
        inline-size: 330px;
        transform: translate(990px, 400px) rotate(40deg);
    }

    .fruit__wrapper {
        inline-size: 210px;
        transform: translate(810px, 585px);
    }

    .lemon {
        /* inline-size: 115px; */
        transform: translate(120px, 520px) rotate(-45deg);
    }

    .rasberry {
        inline-size: 100px;
        transform: translate(1280px, 305px);
    }

    .fork {
        inline-size: 35px;
        transform: translate(455px, 100px) rotate(145deg);
    }

    .small__fork {
        inline-size: 25px;
        transform: translate(1030px, 630px) rotate(-10deg);
    }

    .knife {
        inline-size: 20px;
        transform: translate(185px, 295px) rotate(135deg);
    }

    .spoon {
        inline-size: 135px;
        transform: translate(1000px, 310px) rotate(25deg);
    }
}



/* --- popups --- */

html:has(.id__card--big) {
    overflow: hidden;
}

.id__card--big {
    inline-size: 90vw;
    max-inline-size: 1100px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    rotate: unset;
    margin: unset;
}