:root {
    /* colors */
    --c-blue: #A3C3CE;
    --c-yellow: #D5A654;
    --c-beige: #FBF3E8;
    --c-black: #474542;

    /* fonts */
    --step--2: clamp(0.4444rem, 0.7725rem + -0.3472vw, 0.6944rem);
    --step--1: clamp(0.6669rem, 0.8851rem + -0.2309vw, 0.8331rem);
    --step-0: clamp(1rem, 1rem + 0vw, 1rem);
    --step-1: clamp(1.2rem, 1.1063rem + 0.4167vw, 1.5rem);
    --step-2: clamp(1.44rem, 1.1869rem + 1.125vw, 2.25rem);
    --step-3: clamp(1.7281rem, 1.2135rem + 2.2873vw, 3.375rem);
    --step-4: clamp(2.0738rem, 1.1398rem + 4.151vw, 5.0625rem);
    --step-5: clamp(2.4881rem, 0.8926rem + 7.0911vw, 7.5938rem);

    /* spaces */
    --space-3xs: clamp(0.375rem, 0.2969rem + 0.3472vw, 0.625rem);
    --space-2xs: clamp(0.75rem, 0.5938rem + 0.6944vw, 1.25rem);
    --space-xs: clamp(1.125rem, 0.8906rem + 1.0417vw, 1.875rem);
    --space-s: clamp(1.5rem, 1.1875rem + 1.3889vw, 2.5rem);
    --space-m: clamp(2.25rem, 1.7813rem + 2.0833vw, 3.75rem);
    --space-l: clamp(3rem, 2.375rem + 2.7778vw, 5rem);
    --space-xl: clamp(4.5rem, 3.5625rem + 4.1667vw, 7.5rem);
    --space-2xl: clamp(6rem, 4.75rem + 5.5556vw, 10rem);
    --space-3xl: clamp(9rem, 7.125rem + 8.3333vw, 15rem);

    --space-3xs-2xs: clamp(0.375rem, 0.1016rem + 1.2153vw, 1.25rem);
    --space-2xs-xs: clamp(0.75rem, 0.3984rem + 1.5625vw, 1.875rem);
    --space-xs-s: clamp(1.125rem, 0.6953rem + 1.9097vw, 2.5rem);
    --space-s-m: clamp(1.5rem, 0.7969rem + 3.125vw, 3.75rem);
    --space-m-l: clamp(2.25rem, 1.3906rem + 3.8194vw, 5rem);
    --space-l-xl: clamp(3rem, 1.5938rem + 6.25vw, 7.5rem);
    --space-xl-2xl: clamp(4.5rem, 2.7813rem + 7.6389vw, 10rem);
    --space-2xl-3xl: clamp(6rem, 3.1875rem + 12.5vw, 15rem);

    --space-s-xl: clamp(1.5rem, -0.375rem + 8.3333vw, 7.5rem)
}

html {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    color: var(--c-black);
    background-color: var(--c-beige);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

img {
    /* max-inline-size: 100%; */
    block-size: auto;
}

header {
    block-size: 100vh;
}

h1,
h2 {
    font-family: "century-old-style-std", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.3;
}

h1 {
    font-size: var(--step-4);
}

h2 {
    font-size: var(--step-3);
    padding-block-end: var(--space-xs);
}

p {
    line-height: 1.4;
    max-inline-size: 60ch;
}

strong {
    font-weight: 600;
}

section {
    padding: var(--space-s-xl);
    overflow-x: hidden;
}

/* --- frame --- */

.frame {
    inline-size: 100vw;
    block-size: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 3fr 1fr auto 1fr 3fr 1fr;
    place-items: center;
    padding: var(--space-s-xl);
    margin: calc(0rem - var(--space-s-xl));
    z-index: -10;
}

.frame__img {
    inline-size: 100%;
    block-size: 100%;
    background-image: url(../public/assets/img/line-frame.png);
    background-size: 25px;
    background-repeat: no-repeat;
}

.frame__img:nth-child(1),
.frame__img:nth-child(6) {
    background-position: top center;
}

.frame__img:nth-child(2),
.frame__img:nth-child(7) {
    background-position: center center;
}

.frame__img:nth-child(3),
.frame__img:nth-child(8) {
    background-position: bottom center;
}

.frame__img:nth-child(4),
.frame__img:nth-child(9) {
    display: none;
}

.chapter__info {
    grid-column: 1;
    grid-row: 4;
    padding-block: var(--space-m);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, min-content);
    place-items: center;
    gap: var(--space-xs);
    text-align: center;
}

.chapter__title {
    padding: unset;
}

.chapter__day {
    grid-row: 1;
}

@media (min-width: 500px) {
    .frame {
        grid-template-columns: 1fr 3fr 1fr;
        grid-template-rows: 1fr 3fr 1fr;
        padding: var(--space-xs);
    }

    .frame__img {
        background-image: url(../public/assets/img/rect-frame.png);
        background-size: 1000px;
    }

    .frame__img:nth-child(1) {
        background-position: top left;
    }

    .frame__img:nth-child(2) {
        background-position: top center;
    }

    .frame__img:nth-child(3) {
        background-position: top right;
    }

    .frame__img:nth-child(4) {
        background-position: center left;
    }

    .frame__img:nth-child(6) {
        background-position: center right;
    }

    .frame__img:nth-child(7) {
        background-position: bottom left;
    }

    .frame__img:nth-child(8) {
        background-position: bottom center;
    }

    .frame__img:nth-child(9) {
        background-position: bottom right;
    }

    .frame__img:nth-child(4),
    .frame__img:nth-child(9) {
        display: block;
    }

    .chapter__info {
        grid-column: 2;
        grid-row: 2;
    }
}

/* --- intro --- */

.intro {
    display: grid;
    grid-template-columns: calc(100vw - 2 * var(--space-s-xl));
    grid-template-rows: repeat(3, max-content);
    gap: var(--space-s);
    justify-items: center;
}

.intro__id,
.intro__crowd {
    display: grid;
    grid-template-columns: calc(100vw - 2 * var(--space-s-xl));
}

.id__card {
    rotate: 15deg;
    display: inline-block;
    inline-size: 135vw;
    max-inline-size: 550px;
    place-self: center;
    margin-block: var(--space-xl) var(--space-l);
    margin-inline-end: calc(0rem - var(--space-m));
}

.intro__crowd {
    gap: var(--space-s);
}

.crowd__container {
    inline-size: 100vw;
    margin-inline: calc(0rem - var(--space-s-xl));
    display: grid;
    grid-template-columns: 2fr 4fr;
    align-items: flex-end;
    position: relative;
}

.crowd__louise {
    grid-column: 1;
    place-self: flex-end;
    z-index: 10;
}

.crowd__men {
    grid-column: 2;
    z-index: 5;
    margin-inline-start: calc(0rem - var(--space-l));
}

.crowd__crowd {
    inline-size: 800px;
    position: absolute;
    left: 0;
    bottom: 0;
}

.intro__convo {
    max-block-size: 100vh;
    overflow-y: hidden;
    inline-size: 100%;
    max-inline-size: 600px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, max-content);
    gap: var(--space-s);
}

.convo__container {
    grid-column: 1/-1;
    display: grid;
    gap: var(--space-2xs);
    inline-size: 100%;
}

.convo__text {
    padding: var(--space-s);
    inline-size: fit-content;
    opacity: 0;
    transform: scale(0.8);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.convo__text--left {
    border-radius: 40px 40px 40px 0;
    border: solid 2px var(--c-yellow);
}

.convo__text--right {
    border-radius: 40px 40px 0 40px;
    border: solid 2px var(--c-blue);
    text-align: end;
    justify-self: flex-end;
}

.convo__text:nth-child(1),
.convo__text:nth-child(2) {
    max-inline-size: calc(225px + 2 * var(--space-s));
}

.convo__text:nth-child(3) {
    max-inline-size: calc(320px + 2 * var(--space-s));
}

.convo__man {
    filter: grayscale(100%);
    filter: grayscale(100%);
    transform: scale(0.8);
    transition: filter 0.5s ease-in-out, transform 0.5s ease-in-out;
}

@keyframes convoText {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.convo__text {
    animation: convoText 1s forwards;
}

.convo__text--left:nth-child(1) {
    animation-delay: 1s;
}

.convo__text--left:nth-child(3) {
    animation-delay: 3s;
}

.convo__text--right:nth-child(2) {
    animation-delay: 2s;
}

.convo__text--right:nth-child(4) {
    animation-delay: 4s;
}

@keyframes convoManLeft {
    0% {
        filter: grayscale(100%);
        transform: scale(0.8);
    }

    25% {
        filter: grayscale(0%);
        transform: scale(1);
    }

    50% {
        filter: grayscale(100%);
        transform: scale(0.8);

    }

    75% {
        filter: grayscale(0%);
        transform: scale(1);
    }


    100% {
        filter: grayscale(100%);
        transform: scale(0.8);
    }
}

.convo__man--left {
    animation: convoManLeft 4s forwards;
    animation-delay: 1s;
}

@keyframes convoManRight {
    0% {
        filter: grayscale(100%);
        transform: scale(0.8);
    }

    25% {
        filter: grayscale(0%);
        transform: scale(1);
    }

    50% {
        filter: grayscale(100%);
        transform: scale(0.8);

    }

    75% {
        filter: grayscale(0%);
        transform: scale(1);
    }

    100% {
        filter: grayscale(0%);
        transform: scale(1);
    }
}

.convo__man--right {
    animation: convoManRight 4s forwards;
    animation-delay: 2s;
    justify-self: flex-end;
}

@media (min-width: 500px) {
    .intro__id {
        grid-template-columns: 4fr 3fr;
        row-gap: 0;
        position: relative;
    }

    .intro__id h2 {
        grid-column: 1/-1;
    }

    .intro__id p {
        grid-column: 1;
        grid-row: 2;
    }

    .id__card {
        position: absolute;
        inline-size: 45vw;
        margin: unset;
        right: calc(0rem - var(--space-s-xl) - var(--space-m));
        top: 50%;
        transform: translateY(-40%);
    }
}

@media (min-width: 550px) {
    .intro {
        gap: var(--space-xl);
    }

    .intro__crowd {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
    }

    .intro__crowd>* {
        grid-column: 1;
        grid-row: 1;
    }

    .intro__crowd p {
        width: 280px;
        text-align: end;
        height: fit-content;
        margin-inline: var(--space-s);
        justify-self: flex-end;
    }

    .crowd__container {
        z-index: -10;
        background-size: 110%;
    }

    .crowd__louise {
        inline-size: 250px;
    }

    .crowd__men {
        inline-size: 270px;
    }

    .crowd__crowd {
        inline-size: 1300px;
    }
}

@media (min-width: 900px) {

    .intro__crowd {
        grid-template-columns: repeat(2, 1fr);
    }

    .intro__crowd p {
        grid-column: 2;
        justify-self: flex-start;
        text-align: unset;
        margin: unset;
        margin-block: var(--space-m);
        inline-size: 300px;
    }

    .crowd__container {
        grid-column: 1/-1;
    }
}

@media (min-width: 1000px) {
    .crowd__louise {
        inline-size: 350px;
    }

    .crowd__men {
        inline-size: 380px;
    }

    .crowd__crowd {
        inline-size: 1800px;
    }

    .intro__convo {
        max-inline-size: unset;
        padding: unset;
        grid-template-columns: 1fr 3fr 1fr;
        grid-row: 1fr;
        place-items: center;
    }

    .intro__convo>* {
        grid-row: 1;
    }

    .convo__container {
        grid-column: 2;
    }

    .convo__text {
        padding: var(--space-xs);
    }

    .convo__man--left {
        inline-size: 140px;
    }

    .convo__man--right {
        inline-size: 200px;
    }
}